<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <!-- Define the parent menu -->
        <menuitem id="menu_exorcismo_root" name="Exorcismo" sequence="10"/>


        <record id="action_exorcismo" model="ir.actions.act_window">
            <field name="name">Exorcismo</field>
            <field name="res_model">exorcismo.puntuacion</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="view_game_list"/>
            <field name="context">{'create': True} </field>
        </record>


        <!--<button name="jugar" string="Your Button Label" type="object" class="btn-primary"/>-->

        <menuitem id="menu_exorcismo_sub" name="Exorcismo" parent="menu_exorcismo_root" action="action_exorcismo" sequence="5"/>
    </data>
</odoo>
